.header-nav-item:hover {
  opacity: 0.5;
}
.header--2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  background-color: #fff;
  padding: 20px 0;
  z-index: 500;
  width: 100%;
}
@media screen and (max-width:768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-ttl {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #000;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  margin-right: 30px;
}
@media screen and (max-width:768px) {
  .header-nav-item {
    text-decoration: none;
    color: blue;
  }
}
@media screen and (max-width:768px) {
  .header-nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #eee;
    transition: .7s;
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .header-nav ul {
    padding-top:  80px;
    display: block;
  }
}
@media screen and (max-width:768px) {
  .header-nav ul li {
    list-style-type: none;
    margin-top: 50px;
  }
}
@media screen and (max-width:768px)  {
  .menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: -10px;
  top: 0;
}
}
@media screen and (max-width:768px) {
  .menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
}
@media screen and (max-width:768px) {
  .menu__line--top {
  top: 0;
}
}
@media screen and (max-width:768px) {
  .menu__line--middle {
  top: 14px;
}
}
@media screen and (max-width:768px) {
  .menu__line--bottom {
  bottom: 0;
}
}
@media screen and (max-width:768px) {
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
}
@media screen and (max-width:768px) {
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
}
@media screen and (max-width:768px) {
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
}
.in {
  transform: translateX(100%);
}




main {
  padding: 90px 0 0;
}
.mv {
  position: relative;
  background: url(../img/mv.png) no-repeat center/cover;
  width: 100%;
  height: 80vh;
}
.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 1.3;
}
.mv-ttl {
  font-size: 40px;
}
.mv__sub--ttl {
  text-align: center;
}

.thought {
  background-color: #000;
  color: #fff;
}
.thought--ttl{
  font-size: 24px;
  font-weight: bold;
  background-color:#000;
  color: #fff;
  padding: 70px 8% 0;
}
.thought__sub--ttl{
  background-color: #000;
  color: #fff;
  padding: 30px 8% 100px;
  font-weight: 400;
  line-height: 1.5;
}

.service--ttl {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10% auto 5%;
}
.service__around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sevice__card--1 {
  width: 40%;
  height: 40%;
}
.service__img--1 img {
  width: 100%;
}
.service__card--2 {
  width: 40%;
  height: 40%;
}
.service__img--2 img {
  width: 100%;
}
.service__around--2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service__card--3 {
  width: 40%;
  height: 40%;
}
.service__img--3 img {
  width: 100%;
}
.service__card--4 {
  width: 40%;
  height: 40%;
}
.service__img--4 img {
  width: 100%;
}
@media screen and (max-width: 768px){
  .sevice__card--1,.service__card--2,.service__card--3,.service__card--4 {
    width: 90%;
  }
}
.service__content--ttl {
  margin: 2% 0 0;
}
.service__content {
  margin: 2% 0;
}
.service__list {
  display: inline;
  background-color: red;
  color: #fff;
  padding: 2% 10%;
  font-weight: bold;
}
a {
  color: inherit;
}
.service__list:hover {
  background-color: rgba(179, 66, 74, 0.9);
}
.service__list--around {
  margin: 5% auto;
  text-align: center;
}

.news__flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 20px;
}
.news {
  background-color: #000;
  width: 100%;
  color: #fff;
  padding: 80px 0 ;
}
.news__list {
  background-color: red;
  color: white;
  padding: 1%;
}
.news__list:hover {
  background-color: rgba(179, 66, 74, 0.9);
  color: #fff;
}
.news__ttl {
  font-size: 24px;
  font-weight: bold;
}
.news__company {
  background-color: #fff;
  color: #000;
  margin: 10px 5%;
  padding: 20px;
  font-size: 14px;
}
.news__company:hover {
  background-color: rgba(220, 220, 220, 0.9);
}
.news__company span {
  font-weight: bold
}

.employee__blog {
  margin: 90px auto 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.flex__item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.blog__card {
  width: 90%;
}
.blog__img img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .blog__card{
  width: 45%;
}
}
@media screen and (min-width: 1000px) {
  .blog__card {
    width: 30%;
  }
} 
.blog__date {
  margin: 5px 0;
}
.blog__ttl {
  font-weight: 550;
  font-size: 18px;
}
.blog__img:hover {
  opacity: 0.5;
}
.blog__ttl:hover{
  opacity: 0.5;
}
.blog__btn {
  color: #fff;
  background-color: red;
  padding: 10px;
  text-align: center;
  margin: 20px 35%;
  font-weight: bold;
}
.blog__btn:hover {
  opacity: 0.5;
}
.blog__btn a {
  color: inherit;
}

.information {
  display: flex;
  width: 100%;
}
.overview {
  width: 50%;
  padding: 120px 0;
  background-color: red;
  color:#fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.overview:hover {
  opacity: 0.5;
}
.recruit {
  width: 50%;
  padding: 120px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.recruit:hover {
  opacity: 0.5;
}

.inquiry {
  width: 100%;
  padding: 100px 0 50px;
  margin: 100px 0 0;
  text-align: center;
  background-color: #eeeeee;
  line-height: 2;
}
.inquiry__ttl {
  font-size: 30px;
  font-weight: bold;
}
.inquiry__btn {
  background-color: red;
  color: #fff;
  margin: 30px 35%;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
}
.inquiry__btn:hover {
  opacity: 0.5;
}
.inquiry__btn a {
  color: inherit;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 15px 50px;
  font-size: 12px;
}
nav ul {
  display: flex;
}
li a {
  color: inherit;
}
nav ul li {
  margin-right: 20px;
}
nav ul li :not(last-child) {
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.nav:hover {
  opacity: 0.5;
}

