.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  height: 70px;
  position: fixed;
  background-color: #fff;
  z-index: 500;
}
.header-ttl {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #000;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  margin-right: 30px;
}


main {
  padding: 90px 0 0 0;
}
.recruit__img--1 img {
  width: 100%;
  height: 250px;
}
.recruit__background--card {
  position: relative;
}
.recruit__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

main {
  width: 75%;
  margin: 100px auto;
}
.new__recruit--ttl {
  font-size: 24px;
  border-bottom: 1px solid #000;
  line-height: 1.5;
}
.new__recruit--content {
  margin: 10px 0;
  line-height: 1.5;
}
.career__recruit--ttl {
  font-size: 24px;
  border-bottom: 1px solid #000;
  line-height: 1.5;
}
.career__recruit--content {
  margin: 10px 0;
  line-height: 1.5;
}
table{
  width: 100%;
  margin: 0 0 50px 0;
}
th,td {
  border: 1px solid #000;
  padding: 15px ;
}
th {
  background-color: #eeeeee;
}

.inquiry {
  width: 100%;
  padding: 100px 0 50px;
  margin: 100px 0 0;
  text-align: center;
  background-color: #eeeeee;
  line-height: 2;
}
.inquiry__ttl {
  font-size: 30px;
  font-weight: bold;
}
.inquiry__btn {
  background-color: red;
  color: #fff;
  margin: 30px 35%;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
}
.inquiry__btn:hover {
  opacity: 0.5;
}
.inquiry__btn a {
  color: inherit;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 15px 50px;
  font-size: 12px;
}
nav ul {
  display: flex;
}
li a {
  color: inherit;
}
nav ul li {
  margin-right: 20px;
}
nav ul li :not(last-child) {
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.nav:hover {
  opacity: 0.5;
}
