.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  height: 70px;
}
.header-ttl {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #000;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  margin-right: 30px;
}

.service__content--1 {
  position: relative;
}
.service__img--1 img {
  width: 100%;
}
.content__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.service__education {
  display: flex;
  justify-content: left;
  margin: 50px 5% ;
  line-height: 1.5;
  border-top: 1px solid #000;
}
.service__education:last-child {
  border-bottom: 1px solid #000
}
.service__img--5
{
  width: 30%;
  padding: 30px 0 0 0 ;
  margin: 0 20px 0 0;
}
.service__img--5:last-child {
  padding: 0 0 30px 0;
}
.service__img--5 img {
  width: 100%;
}
.service__education--content{
  padding: 30px 0 0 0;
}
.education__content--ttl {
  font-size: 24px;
  font-weight: bold;
}


.inquiry {
  width: 100%;
  padding: 100px 0 50px;
  margin: 100px 0 0;
  text-align: center;
  background-color: #eeeeee;
  line-height: 2;
}
.inquiry__ttl {
  font-size: 30px;
  font-weight: bold;
}
.inquiry__btn {
  background-color: red;
  color: #fff;
  margin: 30px 35%;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
}
.inquiry__btn a {
  color: inherit;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 15px 50px;
  font-size: 12px;
}
nav ul {
  display: flex;
}
li a {
  color: inherit;
}
nav ul li {
  margin-right: 20px;
}
nav ul li :not(last-child) {
  border-right: 1px solid #fff;
  padding-right: 10px;
}


